graft tmp

recursive-include libusb *.c *.h
recursive-include libusb *.sh *.ac *.am *.in *.extra
recursive-include libusb *.sln *.vcxproj *.props
recursive-include libusb AUTHORS ChangeLog NEWS README
