/ {
    interfaces {
        compatible = "jabi,interfaces";
        uart = <&usart2>;
    };

    peripherals {
        compatible = "jabi,peripherals";
        gpio = <&led_red &led_green &led_blue &user_button>;
    };
};

&usart2 {
    current-speed = <230400>;
};
