/ {
    interfaces {
        compatible = "jabi,interfaces";
        uart = <&usart2>;
    };

    peripherals {
        compatible = "jabi,peripherals";
        i2c = <&i2c0 &i2c1>;
    };
};

&usart2 {
    current-speed = <230400>;
};
