/ {
    interfaces {
        compatible = "jabi,interfaces";
        usb;
        uart = <&cdc_acm_uart0>;
    };

    peripherals {
        compatible = "jabi,peripherals";
        uart = <&uart2>; // TODO replace with LIN once driver written
        can = <&flexcan0>;
        gpio = <&led_red &led_green &led_blue &lin_cmdr_en &lin_pwr_en &can_pwr_en>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};
