/ {
    interfaces {
        compatible = "jabi,interfaces";
        usb;
        uart = <>;
    };

    peripherals {
        compatible = "jabi,peripherals";
        can = <&flexcan0>;
        i2c = <&i2c0>;
        gpio = <&led_red &led_green &led_blue &user_button &sd_detect &usbid_0 &usbid_1 &sd_cs &spi_cs>;
        spi = <&spi0 &spi1>;
    };

    leds {
        spi_cs: spi_cs {
            gpios = <&gpioc 4 GPIO_ACTIVE_LOW>;
        };
        sd_cs: sd_cs {
            gpios = <&gpioe 4 GPIO_ACTIVE_LOW>;
        };
    };
};

&spi0 {
    /delete-property/ cs-gpios;
};

&spi1 {
    /delete-property/ cs-gpios;
};

&sdhc0 {
    status = "disabled";
};
