/ {
    interfaces {
        compatible = "jabi,interfaces";
        usb;
        uart = <&cdc_acm_uart0>;
    };

    peripherals {
        compatible = "jabi,peripherals";
        can = <&flexcan0>;
        i2c = <&i2c0>;
        gpio = <&led_red &led_green &led_blue &user_button &sd_detect &usbid_0 &usbid_1>;
        spi = <&spi0>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
