/ {
    interfaces {
        compatible = "jabi,interfaces";
        uart = <&uart0>;
    };

    peripherals {
        compatible = "jabi,peripherals";
        lin = <&lin0 &lin1 &lin2 &lin3>;
        gpio = <&led_r &led_g &led_b &pwr_en>;
    };
};

&uart0 {
    current-speed = <57600>; // losing bytes when higher
};
