/ {
    interfaces {
        compatible = "jabi,interfaces";
        usb;
        uart = <&cdc_acm_uart0 &cdc_acm_uart1>;
    };

    peripherals {
        compatible = "jabi,peripherals";
        can = <&can1>;
        i2c = <&i2c2>;
        gpio = <&led_red &led_green &led_blue &dbg_1 &dbg_2>;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };

    cdc_acm_uart1: cdc_acm_uart1 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_1";
    };
};
