/ {
    interfaces {
        compatible = "jabi,interfaces";
        usb;
        uart = <&cdc_acm_uart0 &cdc_acm_uart1>;
    };

    peripherals {
        compatible = "jabi,peripherals";
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };

    cdc_acm_uart1: cdc_acm_uart1 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_1";
    };
};
