menu "JABI"

config JABI_SERIAL
    string "device serial number string"
    default "69420"
    help
        must be non-empty

config JABI_CAN_BUFFER_SIZE
    int "CAN buffer size"
    default 32
    help
        must be >0

config JABI_LIN_BUFFER_SIZE
    int "LIN buffer size"
    default 64
    help
        must be >0

config JABI_REQ_PAYLOAD_MAX_SIZE
    int "interface request payload maximum size"
    default 128
    help
        keep larger than largest packet (currently CAN)

config JABI_RESP_PAYLOAD_MAX_SIZE
    int "interface request payload maximum size"
    default 128
    help
        keep larger than largest packet (currently CAN)

config JABI_THREAD_STACK_SIZE
    int "stack size for interface threads"
    default 2048
    help
        make sure enough to hold request/response and the peripherals
        (tip: start this large and then reduce until it crashes)

config JABI_UART_RX_BUFFER_SIZE
    int "uart rx queue buffer size"
    default 256
    help
        keep larger than JABI_RESP_PAYLOAD_MAX_SIZE so can initiate reads
        that are that large

endmenu

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
