menu "JABI"

config JABI_SERIAL
    string "device serial number string"
    default "69420"
    help
        device serial number string, must be non-empty

config JABI_CAN_BUFFER_SIZE
    int "CAN buffer size"
    default 32
    help
        CAN message queue buffer size, must be >0

endmenu

menu "Zephyr"
source "Kconfig.zephyr"
endmenu
